@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

body {
    background-color:rgba(242,239,252,0.5);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

button {
    border: unset;
    background-color: rgba(135,181,127,1);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 13px;
    margin: 0.75em;
}

button:hover, 
button:focus {
    background-color: rgba(135,181,127, 0.3);
    color:  rgba(135,181,127,1);
    cursor: pointer;
}

.results {
    margin: 2em;
}

.hide {
    display: none;
}

#pickRat {
    display: flex;
    flex-direction: row;
}


/* typography */

h1 {
    font-family: 'Viaoda Libre', cursive;
    color: rgba(135,181,127,1);
    font-size: 4rem;
    margin: 0.2em;
}

footer {
    font-size: 0.8rem;
    background-color: rgba(135,181,127,0.1);
    padding: 2em;
}

.desc {
    margin-top: 0;
    font-size: 1em;
}

.footer-link, .link {
    color: green;
    text-decoration: none;
    font-weight: 600;
}

.footer-link:hover, .footer-link:focus {
    color: black;
}

.credits {
    margin-top: 0.4em;
}

.flavor {
    font-weight: 700;
    font-size: 1.3rem; 
    margin-bottom: 0.5em;   
}

.prompt {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5em;
    
}