@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

body {
    background-image: linear-gradient(rgba(135,181,127, 0.3), rgba(135,181,127,0.7));
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* add in a background image */
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0; 
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(242,239,252,0.7);
    padding: 0.5em;
}

button {
    border: unset;
    background-color: rgba(135,181,127,1);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 10px;
    margin: 2em 0.75em; 
    font-family: 'Raleway', sans-serif;
}

button:hover, 
button:focus {
    background-color: rgba(135,181,127, 0.4);
    color:  rgb(86, 117, 80);
    cursor: pointer;
}

.sm-btn {
    border: unset;
    background-color: rgba(135,181,127,1);
    color: #fff;
    text-transform: none;
    padding: 0.5em;
    font-size: 0.7rem;
    border-radius: 5px;
}

.results {
    margin: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide {
    display: none;
}

#pick-a-rat, .dropdown {
    padding: 0.5em;
    border: unset;
    border-radius: 5px;
    background-color: rgba(135,181,127, 0.3);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.topping-select {
    font-size: 0.8rem;
    background-color: rgba(135,181,127, 0.3);
    border-radius: 10px;

    padding: 0.4em;
    margin: 0.7em auto;
    width: 50%;
}


/* typography */

h1 {
    font-family: 'Viaoda Libre', cursive;
    color: rgba(135,181,127,1);
    font-size: 4rem;
    margin: 0.2em;
}

footer {
    font-size: 0.9rem;
    padding: 1em;
}

.desc {
    margin-top: 0;
    font-size: 1em;
}

.footer-link, .link {
    color: rgba(135,181,127,1); /* need a darker green or other color here */
    text-decoration: none;
    font-weight: 600;
}

.footer-link:hover, .footer-link:focus, .link:hover {
    color: rgb(86, 117, 80); /* new color */
}

.credits {
    margin-top: 0.4em;
}

.flavor {
    font-weight: 700;
    font-size: 1.3rem; 
    margin-bottom: 0.5em; 
    padding: 1em;  
    background-color: rgba(135,181,127,0.2);
    border-radius: 10px;
}

.prompt {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5em;
}

/* Temporary Classes */

.romance {
    font-weight:700;
    color :deeppink;
}

/* media queries */


@media (min-width: 675px) {
    /* adjust the flex for larger screens, have the boxes sit next to each other */

    .results {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: center;
    }
}